<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!-- Vue 라우터를 위한 CDN-->
    <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
    <!-- Axios를 이용한 CND-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../js/miniproject/0127_miniproject.js"></script>
</head>

<body>
    <div id="app">
        <input type="date" style="width:300px;" max="9999-12-31" v-model="myTxt">
        <button v-on:click="dateSearch">검색</button>
        <button v-on:click="deleteClick">삭제</button>
        <globalpage-component></globalpage-component>
    </div>

    <script>
        Vue.component('globalpage-component', {
            template: `
            <div>
            <input type = checkbox>

            <box-control
                v-model="pickedDate"
                v-on:request="onRequest">
            </box-control>

            <box-table
                v-bind:kobis-data="kobisData"
                v-bind:movie-img-data="movieImgArr"
                v-bind:selected="selected"
                v-on:deleteOne="deleteOne">
                테이블
            </box-table>
            </div>`
            ,

            components: {

            },
        });

        new Vue({
            data: {
                myTxt: ''
            },

            methods: {
                deleteClick: function () {
                    $('[type=checkbox]:checked').parent().parent().remove();
                },

                dateSearch: function () {

                    const datenodash = [myTxt].join('');
                    const title = [data.dd];

                    axios.get('http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json', {

                        params: {
                            key: '756e6c8584bda7b0084ecb882f94a26a',
                            targetDt: datenodash,
                        },

                        responseType: 'json'
                    }).then(function () {
                        // console.log(result.data);
                        console.log('코비스 접속성공');
                        $('tbody').empty();
                        let arr = data.boxOfficeResult.dailyBoxOfficeList;
                        $.each(arr, function (idx, item) {
                            let title = item.movieNm;
                            let rank = item.rank;
                            let audi = item.audiAcc;
                            let opendt = item.openDt;

                            let tr = $("<tr></tr>");

                            let checktd = $("<td></td>")
                            let delCheck = $('<input />')
                            delCheck.addClass('form-check-input');
                            delCheck.attr('type', 'checkbox');
                            checktd.append(delCheck);

                            let ranktd = $("<td></td>").text(rank)
                            let imgtd = $("<td></td>");
                            let img = $("<img />");
                        }),
                            axios.get('https://dapi.kakao.com/v2/search/image', {

                                headers: {
                                    Authorization: 'KakaoAK 5559977ec58da2ce68a5aba6c2027c04',
                                },
                                params: {
                                    query: title
                                },

                                responseType: 'json'
                            }).then(function () {
                                console.log('카카오접속성공');
                                let imgurl = data.documents[0].thumbnail_url;
                                img.attr('src', imgurl);
                                imgtd.append(img)

                            }).catch(function () {
                                console.log('이상해요');
                            });

                    }).catch(function () {
                        console.log('이상해요');
                    });

                }
            }
        }).$mount('#app');
    </script>

</body>

</html>